* {
    margin: 0;
    padding: 0
}



*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    min-height: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 62.5%
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

header a {
    padding: 5px 1px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #163541
}

.pandemics-include-error {
  width: 100%;
  padding: 8px 10px;
}

.pandemics-include-error p {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 20px;
}

.pandemics-include-error p strong::before {
  font-family: "Font Awesome 5 Free";
  content: "\f56f";
  display: inline-block;
  padding-right: 12px;
  vertical-align: bottom;
  margin-left: -41px;
  font-weight: 900;
}

.pandemics-include-error p strong {
  color: #cc0033;
  font-weight: bold;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    border: 0;
    margin: 1rem auto 1rem auto;
}

figcaption, caption {
  font-size: 1.6rem;
  font-style: italic;
  margin: 2rem auto 1rem auto;
}

caption {
  caption-side: bottom;
}

svg:not(:root) {
    overflow: hidden
}

svg {
    pointer-events: none;
    max-height: 100%
}

.center {
    text-align: center
}

a {
    color: var(--main-color);
    background-color: transparent;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 0px 1px;
    transition: color ease 0.3s
}

a::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: all ease 0.3s
}

a:hover {
    color: white
}

a:hover::after {
    height: 100%
}

a.no-hov:after {
    content: none
}

a.no-hov:hover {
    color: #0029F9
}

a.nav {
    padding: 10px 35px;
    overflow: hidden
}

a.nav:before {
    font-family: FontAwesome;
    content: "\f07a";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

i,
em {
    font-weight: italic
}

figure {
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
}

hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 1px;
    border: 0;
    background: #EFF1F3
}

pre {
    overflow: auto
}

small {
    color: gray
}

.u-container {
    max-width: 72rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem;
    padding-right: 1rem;
    padding-left: 1rem
}

.u-separate {
    margin-right: .45rem;
    margin-left: .25rem;
    color: #5C6E74
}

.u-separate:after {
    content: '\00a0/'
}

.c-page__header {
    margin-bottom: 10rem
}

.c-page__header h1 {
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-size: 2.3rem;
    color: #163541
}

.c-page__header p {
    line-height: 1;
    font-size: 1.8rem
}

.c-page__footer {
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.c-page__footer p {
    line-height: 1.5;
    font-size: 1.8rem;
    color: #5C6E74
}

.c-article {
    margin-bottom: 10rem
}

.c-article__header {
    margin-bottom: 2rem
}

@media screen and (min-width: 45rem) {
    .c-article__header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
}

.c-article__title {
    width: 100%;
    line-height: 1.5;
    font-size: 3.3rem;
    color: #163541
}

.c-article__time {
    line-height: 1.5;
    font-size: 1.8rem;
    color: #5C6E74
}

.c-article__main {
    margin-bottom: 5rem;
    line-height: 1.5;
    font-size: 1.8rem;
    color: #5C6E74
}

.c-article__main>* {
    margin-bottom: 1.8rem
}

.c-article__main h1 {
    margin-top: 2em;
}

.c-article__main h2 {
    line-height: 1.5;
    font-size: 2.3rem
}

.c-article__main h3 {
    line-height: 1.5;
    font-size: 2rem
}

.c-article__main h4 {
    line-height: 1.6;
    font-size: 1.8rem
}

.c-article__main h5 {
    line-height: 1.5;
    font-size: 1.8rem
}

.c-article__main strong {
    color: #163541;
    font-weight: 700
}

.c-article__main blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    padding-left: 1.8rem;
    border: 1px solid #efefef;
    border-left: 3px solid var(--main-color)
}

.c-article__main ul,
.c-article__main ol {
    margin-left: 2.1rem
}

.c-article__main table {
    text-align: center;
    margin: 0 auto .4rem auto;
    border: 1px solid #efefef
}

.c-article__main th {
    background-color: #efefef
}

.c-article__main th,
.c-article__main td {
    padding: .5rem 1rem .5rem 1rem
}

.c-article__main .example {
    font-weight: bold;
    margin-bottom: 0;
    padding-top: .7rem;
    color: #5C6E74
}

.c-article__main .filename {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: .3rem;
    margin-top: -.4rem;
    color: #BCBCBC
}

.c-article__main .web-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    border: 1px solid #cacaca;
    overflow: hidden
}

.c-article__main .web-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%
}

.pagenav {
    width: 100%;
    text-align: center;
    border: 1px solid LightGrey;
    border-left-color: transparent;
    border-right-color: transparent;
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 8rem
}

.pagenav div {
    border-color: transparent
}

.wrapper {
    padding: 10px;
    border: 1px solid LightGrey;
    display: inline-block;
    margin: 0 auto
}

#left {
    float: left;
    text-align: left
}

#right {
    float: right;
    text-align: right
}

.c-article__main .toc {
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    padding: .4rem 0 .4rem 0;
    margin-left: 0;
    margin-bottom: 5rem;
    list-style: none
}

.c-article__main .toc ul {
    list-style: none;
    font-style: italic
}

.c-tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0
}

.c-tags li {
    float: left
}

.c-tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 50px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s
}

.c-tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px
}

.c-tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0
}

.c-tag:hover {
    background-color: var(--main-color);
    color: white
}

.c-tag:hover::after {
    border-left-color: var(--main-color)
}

.c-c-tag {
    margin-right: 1rem;
    position: relative;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 1.8rem
}

.c-c-tag:before {
    color: #869395;
    content: '#\2009'
}

.c-archives {
    margin-bottom: 10rem
}

.c-archives__year {
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-size: 3.3rem
}

.c-archives__list {
    margin-bottom: 2.5rem;
    list-style: none
}

.c-archives__item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #EFF1F3
}

@media screen and (min-width: 45rem) {
    .c-archives__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.c-archives__item h3 {
    line-height: 1.5;
    font-size: 1.8rem
}

.c-archives__item p {
    line-height: 1.5;
    font-size: 1.8rem;
    color: #515862
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    line-height: 1.5
}

pre.sourceCode {
    border-radius: 2px;
    background: #FCFCFC;
    border: 1px solid #E8E8EB;
    border-left: 3px solid #E8E8EB;
    color: #839191;
    padding: .6rem 1rem
}

pre.sourceCode .gutter {
    padding: 1.2rem;
    border-right: 1px solid #E8E8EB
}

pre.sourceCode .code {
    padding: 1.2rem
}

span.lineno {
    padding: 1rem;
    border-right: 1px solid #E8E8EB
}

.sourceCode .c {
    color: #586e75
}

.sourceCode .err {
    color: #93a1a1
}

.sourceCode .g {
    color: #93a1a1
}

.sourceCode .k {
    color: #859900
}

.sourceCode .l {
    color: #93a1a1
}

.sourceCode .n {
    color: #93a1a1
}

.sourceCode .o {
    color: #859900
}

.sourceCode .x {
    color: #cb4b16
}

.sourceCode .p {
    color: #93a1a1
}

.sourceCode .cm {
    color: #586e75
}

.sourceCode .cp {
    color: #859900
}

.sourceCode .c1 {
    color: #586e75
}

.sourceCode .cs {
    color: #859900
}

.sourceCode .gd {
    color: #2aa198
}

.sourceCode .ge {
    color: #93a1a1;
    font-style: italic
}

.sourceCode .gr {
    color: #dc322f
}

.sourceCode .gh {
    color: #cb4b16
}

.sourceCode .gi {
    color: #859900
}

.sourceCode .go {
    color: #93a1a1
}

.sourceCode .gp {
    color: #93a1a1
}

.sourceCode .gs {
    color: #93a1a1;
    font-weight: bold
}

.sourceCode .gu {
    color: #cb4b16
}

.sourceCode .gt {
    color: #93a1a1
}

.sourceCode .kc {
    color: #cb4b16
}

.sourceCode .kd {
    color: #268bd2
}

.sourceCode .kn {
    color: #859900
}

.sourceCode .kp {
    color: #859900
}

.sourceCode .kr {
    color: #268bd2
}

.sourceCode .kt {
    color: #dc322f
}

.sourceCode .ld {
    color: #93a1a1
}

.sourceCode .m {
    color: #2aa198
}

.sourceCode .s {
    color: #2aa198
}

.sourceCode .na {
    color: #93a1a1
}

.sourceCode .nb {
    color: #B58900
}

.sourceCode .nc {
    color: #268bd2
}

.sourceCode .no {
    color: #cb4b16
}

.sourceCode .nd {
    color: #268bd2
}

.sourceCode .ni {
    color: #cb4b16
}

.sourceCode .ne {
    color: #cb4b16
}

.sourceCode .nf {
    color: #268bd2
}

.sourceCode .nl {
    color: #93a1a1
}

.sourceCode .nn {
    color: #93a1a1
}

.sourceCode .nx {
    color: #93a1a1
}

.sourceCode .py {
    color: #93a1a1
}

.sourceCode .nt {
    color: #268bd2
}

.sourceCode .nv {
    color: #268bd2
}

.sourceCode .ow {
    color: #859900
}

.sourceCode .w {
    color: #93a1a1
}

.sourceCode .mf {
    color: #2aa198
}

.sourceCode .mh {
    color: #2aa198
}

.sourceCode .mi {
    color: #2aa198
}

.sourceCode .mo {
    color: #2aa198
}

.sourceCode .sb {
    color: #586e75
}

.sourceCode .sc {
    color: #2aa198
}

.sourceCode .sd {
    color: #93a1a1
}

.sourceCode .s2 {
    color: #2aa198
}

.sourceCode .se {
    color: #cb4b16
}

.sourceCode .sh {
    color: #93a1a1
}

.sourceCode .si {
    color: #2aa198
}

.sourceCode .sx {
    color: #2aa198
}

.sourceCode .sr {
    color: #dc322f
}

.sourceCode .s1 {
    color: #2aa198
}

.sourceCode .ss {
    color: #2aa198
}

.sourceCode .bp {
    color: #268bd2
}

.sourceCode .vc {
    color: #268bd2
}

.sourceCode .vg {
    color: #268bd2
}

.sourceCode .vi {
    color: #268bd2
}

.sourceCode .il {
    color: #2aa198
}
